@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.header h4 {
  position: absolute;
  height: 34px;
  left: 266px;
  right: 351px;
  top: 0;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.3px;

  color: #252733;
}

.search_icon {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 271px;
  top: 45px;
}

.noti_icon {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 231px;
  top: 45px;
}
